body {
	background-color: #171717;
	font-family: Open Sans;
	color: #95a5a6;
}
h1 {
	color: #ecf0f1;
}
	.content h1 {
		color: #000;
	}
.item h2 {
	color: #ecf0f1;
	font-size: 30px;
	font-weight: normal;
	line-height: 41px;
	margin: 0;
	padding-top: 3px;
	text-transform: uppercase;
	text-shadow: 0 0 1px black;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	width: initial;
}
a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	color: #e74c3c;
}
	a:hover {
		color: #c0392b;
	}
/* FONT LOAD */
.wf-loading h1,
.wf-loading p {
    opacity: 0;
 }
.wf-active h1,
.wf-active p {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 1;
 }
/* BOOTSTRAP OVERWRITES */
.menu {
	background: #20272d; 
	border-bottom: 1px solid #e74c3c;
	height: 48px;
	margin: .75% 0;
}
	a.brand {
		color: #fff;
		display: block;
		float: left;
		font-size: 20px;
		padding: 10px 20px 10px;
	}
	.row .menu img {
		float: left;
		margin-left: -35px;
		margin-top: -10px;
		margin-right: 10px;
		width: 48px;
	}
.row img {
	width: 100%;
}

.btn-primary {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	background: #e74c3c;
	border-color: #e74c3c;
	border-radius: 3px;
	box-shadow: 0px 3px 0px 0px #c0392b;
	color: #ecf0f1;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	margin-top: 10px;
	margin-right: 10px;
	padding: 14px 26px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	text-align: center;
	transition: background 0.2s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
}
	.btn-primary:hover {
		-webkit-transition: background 0.2s ease-in-out;
		-moz-transition: background 0.2s ease-in-out;
		-ms-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		background: #E02310;
		background-color: #E02310;
	}
	.btn-primary:active {
		box-shadow: 0px 1px 0px 0px #c0392b;
		padding-top: 15px;
        margin-bottom: -1px;
	}
/* CUSTOM DEFINITIONS */
/* home */
.container.mason {
	overflow: hidden;
	padding: 0;
}
/* home */
.intro {
	background-color: #2a3840;
	height: 342px;
	overflow: hidden;
}
	.intro .col-sm-7,
	.intro .col-sm-8 {
		/* background: #34495e; */
		height: 100%;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
	}
		.intro  img {
		    display: block;
		    float: right;
			height: 100%;
		   	max-width: initial;
		   	position: absolute;
			width: initial;
		}
			.intro  .js {
				top: 10px;
			}
.sidebar,
.content .sidebar .col-sm-8 {
	background-color: #2a3840;
	color: #ecf0f1;
}
	.sidebar h3 {
		color: #DD4B39;
		text-transform: uppercase;
	}
.date {
	color: #456688;
}
.author {
	font-style: italic;
}
.footer {
	background: #20272d; 
	height: 50px;
	margin: 1% auto 0 auto;
	padding: 10px;
}

.content {
	background-color: #2a3840;
	color: #ecf0f1;
	min-height: 342px;
	overflow: hidden;
}
	.content .col-sm-7,
	.content .col-sm-8 {
		background: #171717;
		height: 100%;
		overflow: hidden;
	}
	.content .header {
		margin: 0 -15px;
	}
	.content .text {
		background: #ecf0f1;
		color: #2c3e50;
		margin-left: -15px;
		padding: 0 15px;
	}
.space {
    overflow: hidden;
	margin: 0 .5%;
}
.item {
	/* 	-webkit-transition-duration: 0.2s; */
	/* 	transition-duration: 0.2s; */
	/* 	-webkit-transition-property: -webkit-transform; */
	/* 	transition-property: transform; */
	/* 	-webkit-transform: translateZ(0); */
	/* 	-ms-transform: translateZ(0); */
	/* 	transform: translateZ(0); */
	cursor: pointer;
	float: left;
	height: 342px;
	margin: .5%;
	opacity: 0;
    overflow: hidden;
	width: 32.3%;
}
	.featured {
		display: table;
		top: 0px;
		opacity: 1;
		background: #ecf0f1;
		font-size: 40px;
		text-transform: uppercase;
		color: #34495e;
		text-align: center;
	}	
		.featured:hover {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
		.featured span {
			display: table-cell;
			vertical-align: middle;
		}
		.item.long { 
			width: 65.6%;
		}
		.mask { 
		   position: absolute; 
		   left: 0; 
		   width: 100%; 
		}
			.mask span {
				background: #252424; 
				padding: 0 10px;
/* 	   			background: rgba(0, 0, 0, 0.7); */
			}
			.mask .categories {
				background: #e74c3c; /*#c0392b; /*#4268CA;*/
				box-shadow: 0px 3px 0px 0px #c0392b; /* #972317;*/
				display: inline-block;
				height: 46px;
				min-width: 46px;
				overflow: hidden;
			}
		.item img {
			-webkit-transition: transform 0.4s;
			-moz-transition: transform 0.4s;
			-ms-transition: transform 0.4s;
			-o-transition: transform 0.4s;
			transition: transform 0.4s;
		    display: block;
		    position: relative;
		}
		.item.long.landscape img, 
		.item.portrait img {
			height: initial;
		}
		.item.long.portrait img,
		.item.landscape img {
		    height: 100%;
			left: 0;
			max-width: initial;
		    position: absolute;
		    width: initial;
		}
			.item.landscape .preview {
				overflow: hidden;
			}
	ul.categories {
		list-style-type: none;
		margin: 0;
	}
		ul.categories li{
			height: 25px;
			text-transform:capitalize;
		}
	.mask .categories span, 
	.mask .categories div {
		background: initial;
		color: #ecf0f1;
		float: left;
		font-size: 18px;
		height: 46px;
		line-height: 42px;
		margin-top: 10px;
		margin: 0px;
		text-align: center;
		width: 120px;
	}
		.mask .categories div {
			-webkit-transition: all 0.2s ease-in-out;
		    -moz-transition: all 0.2s ease-in-out;
		    -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
		    color: rgba(236, 240, 241, 0);
			line-height: 44px;
			max-width: 46px;
			padding-right: 10px;
		}
			.mask .categories div:hover {
			    color: rgba(236, 240, 241, 1);
				max-width: 160px;
				width: initial;
			}
		.mask .categories span.glyphicon {
			background: initial;
			color: #ecf0f1;
			border-left: 1px solid rgba(255, 255, 255, 0.2);
			width: 46px;
		}
		.categories li span.glyphicon {
			padding: 0 10px;
		}
		
.header img {
	margin-top: -46px;
}
.header .mask {
	position: relative;
}
.social {
	float: right;
	height: 100%;
	padding-top: 11px;
	width: 170px;
}	
.social a {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 19%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(19%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(71%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C */
    border-radius: 221px;
    color: #428bca;
    float: right;
    font-size: 40px;
    height: 23px;
    line-height: 22px;
    margin-left: 12px;
    text-align: left;
    text-decoration: none;
    width: 29px;
}
	.social a.facebook {
		color: #3B5999;
	}
	.social a.google {
		color: #e74c3c;
	}
	.social a.twitter {
		color: #0088cc;
	}
		.social a:hover {
			-webkit-transition: color 0.2s ease-in-out;
			-moz-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			-o-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
/*     		background-color: #bdc3c7; */
			color: #2a6496;
		}
			.social a.facebook:hover {
				color: #071D70;
			}
			.social a.google:hover {
				color: #c0392b;
			}
			.social a.twitter:hover {
				color: #3498db;
			}
	
/* fonts */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
}

.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
margin: 10px;
}

/* media queries */
@media (min-width: 1351px) {
	.container,
	.footer {
		overflow: hidden;
		width: 1335px;
	}
	.container.mason {
		padding-top: 0.25%;
		width: 1350px;
	}
	.item,
	.sizer { 
		width: 24%;
	}
	.item.long { 
		width: 49%;
	}
}
@media (max-width: 1350px) {
	.container {
		width: 74%;
	}
	.container.mason {
		padding-top: 0.25%;
		width: 75%;
	}
	.footer {
		width: 74%;
	}
}
@media (max-width: 1150px) {
	.item,
	.sizer {
		width: 49%;
	}
	.item.long {
		width: 99.9%;
	}
}
@media (max-width: 768px) {
	body {
		padding: 0px;
	}
	.container,
	.footer {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.container {
		padding: 0;
	}
	.container.mason {
		width: 100%;
	}
	.row {
		margin: 0;
	}
		.row.intro {
			height: 200px;
			margin: 2% 3% 3%;
			width: 94%;
		}
			.row.intro .col-sm-5 {
				padding-bottom: 15px;
			}
		.row.content .sidebar {
			width: 100%;
		}
	.item,
	.item.long { 
		height: 200px;
	    margin: 0 3% 3% 3%;
		width: 93.9%;
	}
		.item.long.portrait img,
		.item.landscape img {
			height: initial;
			width: 100%;	
		}
		.item.long.landscape img, 
		.item.portrait img {
		    height: 100%;
		    width: initial;
		}
		.item h2 {
			bottom: -346px;
			font-size: 18px;
			font-weight: normal;
			line-height: 24px;
		}
	.content .text {
		margin-left: 0px;
	}
}